.page-wrapper {
    height: 100%;
    max-width: 100%;
    background-color: #fbecd2;
}

.bg-light {
    background-color: #fbecd2 !important;
}

/* --------Modals-------- */

.modal-content {
    background-color: #fbecd2;
}

.modal-header,
.modal-body,
.modal-footer {
    border-color: black;
}

/* --------Dropdown Button-------- */

.menu-dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.submenu-dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* --------Dropdown Content-------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff8dc;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown button {
    width: 100%;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fbecd2;
}

.dropdown-content .dropdown button:hover {
    background-color: #fbecd2;
}

.dropdown:hover .dropdown-content {
    text-align: right;
    display: block;
    left: auto;
    right: 0;
    z-index: 2;
}

.dropdown:hover .menu-dropbtn,
.dropdown .submenu-dropbtn:hover {
    background-color: #fff8dc;
}

.dropdown-subcontent {
    display: none;
    position: relative;
    background-color: #fff8dc;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub-dropdown:hover .dropdown-subcontent {
    display: block;
    text-align: right;
    left: auto;
    right: 0;
}

.menu-dropbtn,
.submenu-dropbtn {
    background-color: #fbecd2;
}

/* --------Buttons-------- */

.btn {
    margin-top: 5px;
}

.btn.focus,
.btn:focus {
    box-shadow: rgba(0, 0, 0);
}

#sign-in-btn {
    padding: 5px;
    margin-right: 10px;
}

.edit_recipe_btn {
    margin: 0;
    padding: 0;
}

.search-button {
    border-color: grey;
    background-color: white;
    color: black;
    margin-top: 0;
}

.search-button:hover {
    border-color: black;
    background-color: #E8E8E8;
    color: black;
}

.search-button:focus {
    outline: 0;
    border-color: grey;
    box-shadow: 0 0 0 0;
}

/* --------Favorite icon-------- */

.like-fav-icons {
    text-align: center;
    width: 100%;
}

.like-fav {
    margin-right: 10px;
    margin-left: 10px;
}

.material-icons {
    font-size: 20px;
    text-align: center;
}

.favorite-icon {
    color: pink;
    font-size: 30px;
}

/* --------Form elements-------- */

.form-control.search-bar {
    width: 50%;
    margin-right: 0px;
}

.search-form {
    margin-bottom: 10px;
}

.search-bar input {
    color: black;
    border-color: grey;
}

.search-bar input:focus {
    outline: 0;
    border-color: grey;
    box-shadow: 0 0 0 0;
}

#signUpForm input {
    color: black;
    border-color: grey;
}

#signUpForm input {
    outline: 0;
    border-color: grey;
    box-shadow: 0 0 0 0;
}

/*----------------------------------------*/

.breakline {
    margin-top: 15px;
}

.new_line {
    font-size: 30px;
}

.small-device-search {
    margin-top: 10px;
}

.center {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.limit {
    text-align: center;
    max-height: 230px;
    max-width: 400px;
}

.limit img {
    max-width: 100%;
    max-height: 80%;
}

.food-name {
    text-align: center;
    font-size: 20px;
}

.food-page-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.food-h2 {
    font-size: 25px;
}

.wrapper {
    position: relative;
    margin-bottom: 10px;
}

.food-wrapper {
    height: 100%;
    background-color: #fff8dc;
    border-radius: 20px;
}

.food-summary {
    padding: 0;
    text-align: center;
}

.left-space {
    margin-left: 10px;
    padding-left: 10px;
}

.food-description {
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 0px;
}

.title {
    text-align: center;
    margin: 25px;
    font-size: 30px;
}

.food-page-title {
    margin-top: 15px;
    font-size: 30px;
}

.featurette-divider {
    margin-top: 25px;
}

.food-number-odd {
    padding-left: 15px;
}

.pointer {
    cursor: pointer;
}

.username {
    color: #3a9fbf;
}

/* --------Carousel (slider) -------- */

.cuisine-name {
    text-align: center;
    font-size: 15px;
}

.cuis-image {
    border-radius: 50%;
}

.slick-prev {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
}

.slick-next {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
}

.carousel-wrapper {
    margin-bottom: 25px;
}

/* --------Media Queries -------- */

@media(min-width: 576px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    .limit {
        max-width: 800px;
        max-height: 460px;
        padding-bottom: 0px;
        text-align: center;
        margin-bottom: 0px;
    }
    .search-bar {
        margin-left: 50px;
    }
    .food-description {
        margin-bottom: 0px;
    }
    .thumb-up-icon,
    .favorite-icon {
        font-size: 35px;
    }
}

@media(min-width: 992px) {
    .cuis-image {
        border-radius: 0%;
    }
    .food-description {
        text-align: left;
        margin-bottom: 15px;
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 1200px) {
    .page-wrapper {
        max-width: 85%;
        margin: auto;
        background-color: #fbecd2;
    }
}
