{% extends 'base.html' %} {% block content %} {% if title %}
<h1 class="title">{{ title }}</h1>
<hr class="featurette-divider"> {% else %}
<h1 class="title">Find Your Favorite</h1>
{% endif %} {% if cuisines %}
<div class="carousel-wrapper">
    <div class="carousel">
        {% for cuisine in cuisines %}
        <div>
            <div class="cuisine-name"><b>{{cuisine.cuisine_name|capitalize}}</b></div>
            <a href="{{ url_for('get_cuis', cuis_name=cuisine.cuisine_name )}}">
                <img class="w-100 cuis-image" src="{{cuisine.pic_url}}" alt="{{cuisine.cuisine_name}}">
            </a>
        </div>
        {% endfor%}
    </div>
</div>

{%endif%}

{% endblock %}
