 {% extends 'base.html' %} {% block content %} {% if title %}
<h1 class="title">{{ title|capitalize }}</h1>
<hr class="featurette-divider"> {% else %}
<h1 class="title">Find Your Favorite</h1>
{% endif %} {% if cuisines %}
<hr class="featurette-divider cusine-divider">
<div class="carousel-wrapper">
    <div class="carousel">
        {% for cuisine in cuisines %}
        <div>
            <div class="cuisine-name"><b>{{cuisine.cuisine_name|capitalize}} - {{cuisine.foods|length}}</b></div>
            <a href="{{ url_for('get_cuis', cuis_name=cuisine.cuisine_name )}}">
                <img class="w-100 cuis-image" src="{{cuisine.pic_url}}" alt="{{cuisine.cuisine_name}}">
            </a>
        </div>
        {% endfor%}
    </div>
</div>
<hr class="featurette-divider cuisine-divider"> {%endif%} {% if meals %}
<div class="container-fluid d-none d-sm-none d-md-none d-lg-block meals">
    <div class="row">
        {% for food in meals %}
        <div class="col-3 wrapper">
            <div class="food-wrapper">
                <div class="col-12 food-summary">
                    <h2 class="food-name">{{food.name|capitalize}} {% if my_recipe %}
                        <a href="{{ url_for('edit_recipe', food_id=food._id)}}" class="btn edit_my_recipe_btn"><i class="material-icons edit-icon">edit</i></a> {% endif %}
                    </h2>
                    <div class="col-12 limit">
                        <a href="{{ url_for('get_food', food_name=food.name) }}"><img class="img-responsive" src="../{{food.pic_url}}" alt="{{food.name}}"></a>
                    </div>
                    <div class="col-12 food-description">
                        <div class="left-space row">{{food.description|capitalize}}</div>
                        <div class="breakline"></div>
                        <div class="left-space row"><b>Author:</b>{{food.author}}</div>
                        <div class="row food_id" style="display: none;">{{food._id}}</div>
                        <div class="row like-fav-icons center">
                            <span class="like-fav">
                        <span>{{food.favorites|length}}</span>
                            <button class="btn add_favorites_btn"><i class="material-icons favorite-icon">favorite</i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %} {% if foods %} {% for food in foods %} {% if loop.index % 3 != 0 and loop.index % 2 != 0 %}
<div class="container-fluid meals d-lg-none">
    <div class="row">
        <div class="col-sm-6 limit d-none d-sm-block d-md-block">
            <a href="{{ url_for('get_food', food_name=food.name) }}"><img class="img-responsive" src="../{{food.pic_url}}" alt="{{food.name}}"></a>
        </div>
        <div class="col-12 col-sm-6">
            <h2 class="food-name">{{food.name|capitalize}}{% if my_recipe %}
                <button class="btn edit_my_recipe_btn"><i class="material-icons edit-icon">edit</i></button> {% endif %}</h2>
            <div class="breakline d-none d-sm-block d-md-block"></div>
            <div class="row d-none d-sm-block d-md-block"> {{food.description|capitalize}}</div>
            <div class="breakline d-none d-sm-block d-md-block"></div>
            <div class="row d-none d-sm-block d-md-block"><b>Author:</b> {{food.author}}</div>
            <div class="row food_id" style="display: none;">{{food._id}}</div>
            <div class="col-12 col-sm-6 limit d-block d-sm-none d-md-none">
                <a href="{{ url_for('get_food', food_name=food.name) }}"><img class="img-responsive" src="../{{food.pic_url}}" alt="{{food.name}}"></a>
            </div>
            <div class="like-fav-icons">
                <span class="like-fav" id="favorite-span">
                <span>{{food.favorites|length}}</span>
                <button class="btn add_favorites_btn"><i class="material-icons favorite-icon">favorite</i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider d-lg-none"> {% elif loop.index % 3 == 0 %}
<div class="container-fluid meals d-lg-none">
    <div class="row">
        <h2 class="col-12 food-name">{{food.name|capitalize}}{% if my_recipe %}
            <button class="btn edit_my_recipe_btn"><i class="material-icons edit-icon">edit</i></button> {% endif %}</h2>
        <div class="col-12">
            <div class="row limit d-none d-sm-block d-md-block">
                <a href="{{ url_for('get_food', food_name=food.name) }}"><img class="img-responsive" src="../{{food.pic_url}}" alt="{{food.name}}"></a>
            </div>
            <div class="col-12 col-sm-6 limit d-block d-sm-none d-md-none">
                <a href="{{ url_for('get_food', food_name=food.name) }}"><img class="img-responsive" src="../{{food.pic_url}}" alt="{{food.name}}"></a>
            </div>
            <div class="col-12 d-none d-sm-block d-md-block"> {{food.description|capitalize}}</div>
            <div class="breakline d-none d-sm-block d-md-block"></div>
            <div class="col-12 d-none d-sm-block d-md-block"><b>Author:</b> {{food.author}}</div>
            <div class="food_id" style="display: none;">{{food._id}}</div>
            <div class="like-fav-icons">
                <span class="like-fav" id="favorite-span">
                <span>{{food.favorites|length}}</span>
                <button class="btn add_favorites_btn"><i class="material-icons favorite-icon">favorite</i></button>
                </span>
            </div>
        </div>
    </div>
    <hr class="featurette-divider d-lg-none">
</div>
{% elif loop.index % 2 == 0 and loop.index % 3 != 0 %}
<div class="container-fluid meals d-lg-none">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h2 class="food-name">{{food.name|capitalize}}{% if my_recipe %}
                <button class="btn edit_my_recipe_btn"><i class="material-icons edit-icon">edit</i></button> {% endif %}</h2>
            <div class="breakline d-none d-sm-block d-md-block"></div>
            <div class="row left-space d-none d-sm-block d-md-block"> {{food.description|capitalize}}</div>
            <div class="breakline d-none d-sm-block d-md-block"></div>
            <div class="row left-space d-none d-sm-block d-md-block"><b>Author:</b> {{food.author}}</div>
            <div class="breakline d-none d-sm-block d-md-block"></div>
            <div class="row food_id" style="display: none;">{{food._id}}</div>
            <div class="col-12 col-sm-6 limit d-block d-sm-none d-md-none">
                <a href="{{ url_for('get_food', food_name=food.name) }}"><img class="img-responsive" src="../{{food.pic_url}}" alt="{{food.name}}"></a>
            </div>
            <div class="like-fav-icons">
                <span class="like-fav" id="favorite-span">
                    <span>{{food.favorites|length}}</span>
                <button class="btn add_favorites_btn"><i class="material-icons favorite-icon">favorite</i></button>
                </span>
            </div>
        </div>
        <div class="col-12 col-sm-6 limit d-none d-sm-block d-md-block">
            <a href="{{ url_for('get_food', food_name=food.name) }}"><img class="img-responsive" src="../{{food.pic_url}}" alt="{{food.name}}"></a>
        </div>
    </div>
    <hr class="featurette-divider d-lg-none">
</div>
{% endif %} {% endfor %} {% else %} {% if recipe_page %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="food-name">You have not uploaded any recipe yet.</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-success search-button" href="{{ url_for('new_recipe') }}" role="button" style="text-align: center;">New Recipe</a>
    </div>
</div>
{% elif favorite_page %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="food-name">You do not have any favorite recipe.</h2>
        </div>
    </div>
</div>
{% elif no_results %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="food-name">Sorry, no results were found.</h2>
        </div>
    </div>
</div>
{% endif %} {% endif %} {% endblock %}
 