{% extends 'base.html' %} {% block content %} {% for main in mains %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header">{{main.name}}</div>
        <div class="collapsible-body">
            <div class="container">
                <div class="row">Author: {{main.author}}</div>
                <div class="row">
                    Ingrediments:
                    <ul>
                        {% for ingredient in main.ingredients %}
                        <li style="list-style-type:circle;">{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    Method:
                    <ol>
                        {% for method in main.method %}
                        <li>{{method}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </li>
</ul>
{% endfor %} {% endblock %}
